@blue_header_top: rgb(142,169,232);
@text_grey: rgb(102,102,102);
@text_blue: rgb(111,161,206);
@cart_product_red: rgb(242,23,23);

* {
    font-family: 'Tahoma';
    margin:0px;
    padding: 0px;
}

a { text-decoration: none !important; }

html{
    height: 100%;
}

body{
    height:100%;
    min-height:100%;
}

.idTop {
 position: fixed; /*позиционирование кнопки фиксированное*/
 z-index: 9999; /*отображаем поверх всех элементов*/
 bottom: 2%; /*положение снизу*/
 right: 5%; /*положение справа*/
}
.idTop:hover {
 opacity: 1;
}


/*-----Header-------*/
@media (min-width: 1280px) {

header{
    width: 100%;
    height: 185px;
    background-image:url('../image/backgraund_header.png');

}

.container_header {
    width: 1280px;
    margin:0 auto;
    height: 100%;
    background-image:url('../image/backgraund_header.png');
}

.header_top{
    //width: 100%;
    height:40px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background-color: @blue_header_top;
    margin:0 26px 0 26px;
    line-height:40px;
    margin-bottom: 0px;

}

.header_top_text{
    text-align: right;
}

.header_top_text li{
    display: inline;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.header_top_text_servic{
    padding-right:40px;
    border-right: 2px solid white;
}


.header_top_text_enter{
    margin-left: 40px;
}

.header_top_text_reg{
    margin-right:20px;
}

.header_center{
    height: 100px;
    line-height:100px;
}

.header_logo{
    padding-left: 50px;
}

#search{
    width: 260px;

    float: right;
}

.header_search_input{
    margin-top:40px;
    height: 30px !important;
    background-color: rgb(195,195,197);
    border-radius: 15px;
    border-bottom-right-radius:15px !important;
    border-top-right-radius:15px !important;
    z-index: 9 !important;
}

.header_search_button{
    bottom: 6px;
    right: 25px;
    width: 0px !important;
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    z-index: 9999 !important;
}


.header_tel{
    line-height:100px;
    max-height: 100px;
    bottom:7px;
    padding-left: 8px;
}


.header_tel_text_number{
    display: block;
    max-height: 25px;
    font-size: 18px;
    font-weight: bold;
    color:rgb(0,30,150);
    margin-left: 0px;

}

.header_tel_text_we{
    font-family: "Tahoma";
    font-size: 14px;
    font-weight: bold;
    color: rgb(242,23,23);
    margin-left: 0px;
    text-decoration: underline;
}

.header_pay{
    padding-left: 50px;
}

.header_pay_circle{
    width:20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 42px;
    left: 122px;
}

.header_pay_circle span{
    width: 10px;
    height: 10px;
    color: white;
    position: absolute;
    left: 7px;
    bottom: 50px;
}


.header_pay p{
    font-size: 10px;
    font-weight: bold;
    color: rgb(136,136,136);
    text-transform: uppercase;
}

.header_pay img{
    position: absolute;
    top: 25;
    right: 48px;
    bottom: 37px;
    left: 114px;
}

.header_bottom{
    padding-left: 50px;
}

.hrader_menu_big{
    display: inline;
}

.hrader_menu_small{
    display: none;
}

.hrader_menu_big li{
    display: inline;
    font-size: 16px;
    color: rgb(113,113,113);
}

.hrader_menu_big span{
    display: inline;
    font-size: 16px;
    color: rgb(113,113,113);
}

.hrader_menu_big span:hover{
    color: rgb(161,176,211);
}

.hrader_menu_start_0{
    padding-right: 46px;
    border-right: 2px solid rgb(161,176,211);
}
.hrader_menu_start_1,.hrader_menu_start_2,.hrader_menu_start_3,
.hrader_menu_start_4{
    padding: 0 46px 0 46px;
    border-right: 2px solid rgb(161,176,211);
}
.hrader_menu_start_6{
    padding-left: 40px;
    //border-right: 2px solid rgb(161,176,211);
}
.blue_line{
    clear: both;
    height: 40px;
    margin-bottom: 15px;
    background-color:@blue_header_top;
}

}

@media (max-width: 1279px) {

header{
    width: 100%;
    height: 185px;
    background-image:url('../image/backgraund_header.png');

}

.container_header {
    width: 768px;
    margin:0 auto;
    height: 100%;
    background-image:url('../image/backgraund_header.png');
}

.header_top{
    //width: 100%;
    height:40px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background-color: @blue_header_top;
    margin:0 26px 0 26px;
    line-height:40px;
    margin-bottom: 0px;

}

.header_top_text{
    text-align: right;
}

.header_top_text li{
    display: inline;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.header_top_text_servic{
    padding-right:40px;
    border-right: 2px solid white;
}


.header_top_text_enter{
    margin-left: 40px;
}

.header_top_text_reg{
    margin-right:20px;
}

.header_center{
    height: 80px;
    line-height:100px;
}

.header_logo{
    padding-left: 30px;
    padding-right: 0px;
}

#search{
    width: 120px;
    float: left;
}

.header_search {
    padding-left: 0px;
    padding-right: 0px;
}

.header_search_input{
    margin-top:40px;
    height: 30px !important;
    background-color: rgb(195,195,197);
    border-radius: 15px;
    border-bottom-right-radius:15px !important;
    border-top-right-radius:15px !important;
}

.header_search_button{
    bottom: 6px;
    right: 25px;
    width: 0px !important;
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.header_tel{
    line-height:100px;
    max-height: 100px;
    bottom:7px;
    padding-left: 0px;
    padding-right: 0px;
}


.header_tel_text_number{
    display: block;
    max-height: 25px;
    font-size: 11px;
    font-weight: bold;
    color:rgb(0,30,150);
    margin-left: 5px;

}

.header_tel_text_we{
    font-family: "Tahoma";
    font-size: 12px;
    font-weight: bold;
    color: rgb(242,23,23);
    margin-left: 5px;
    text-decoration: underline;
}

.header_pay{
    padding-left: 30px;
}

.header_pay_circle{
    width:20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 42px;
    left: 122px;
}

.header_pay_circle span{
    width: 10px;
    height: 10px;
    color: white;
    position: absolute;
    left: 7px;
    bottom: 50px;
}

.header_pay p{
    font-size: 10px;
    font-weight: bold;
    color: rgb(136,136,136);
    text-transform: uppercase;
}

.header_pay img{
    position: absolute;
    top: 25;
    right: 48px;
    bottom: 37px;
    left: 114px;
}

.header_bottom{
    padding-left: 50px;
}

.hrader_menu_big{
    display: none;
}

.hrader_menu_small{
    display: block;
    height: 70px;
}

.hrader_menu_small img{
    float: right;
    margin-right: 40px;
    position: relative;
    bottom: 25px;
    z-index: 10;
}

.open_header_menu_small{
    display: none;
    position: relative;
    width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: @text_blue;
    z-index: 9;

}

.open_header_menu_small_ul{
    margin-left: 35px;
    padding-bottom: 30px;
    list-style-type:none;

}
.open_header_menu_small_ul li{
    color: white;
}
.blue_line{
    clear: both;
    height: 40px;
    margin-bottom: 15px;
    background-color:@blue_header_top;
}

}

/*-----END_Header-------*/

/*-----top_menu-------*/
@media (min-width: 1280px) {
    .breadcrumb{
        background-color: @blue_header_top;

    }
     .breadcrumb a{
        background-color: @blue_header_top;
        font-size: 14px;
        color: white;
        text-decoration: underline !important;
    }

}

@media (max-width: 1279px) {
      .breadcrumb{
        background-color: @blue_header_top;

    }
     .breadcrumb a{
        background-color: @blue_header_top;
        font-size: 14px;
        color: white;
        text-decoration: underline !important;
        font-family: 'Tahoma';
        font-weight: lighter;
    }
}

/*-----END_top_menu-------*/


/*-----filter_menu-------*/
@media (min-width: 1280px) {}

@media (max-width: 1279px) {}
/*-----END_filter_menu-------*/

/*-----category.tpl-------*/
@media (min-width: 1280px) {
    #mfilter-content-container{
        margin-top: 45px;
    }
    .category_cort{
        left: 65px;
    }
    .category_name_product{
        font-size: 21px;
        font-weight: bold;
        color: rgb(12,118,187);
        padding-top:0px;
        margin: 0 0 10px 0;
    }
    .text-right{
        margin-left: 5px;
        padding:0px;

    }
    .control-label_category{

        padding-top: 5px;
        font-size: 14px;
        font-family: "Arial";
        color: rgb(193,193,193);
    }



}

@media (max-width: 1279px) {}
/*-----END_category.tpl-------*/

/*-----Big_slider-------*/

@media (min-width: 1280px) {
    .container{
        width: 1280px;
    }
    .owl-pagination{
        display: none;
    }
    .owl-carousel{
        margin-bottom: 50px !important;
    }

}

@media (max-width: 1279px) {
    .container{
        width: 768px;
        padding: 0px;
    }
     .owl-pagination{
        display: none;
    }
    .owl-carousel{
        margin-bottom: 40px !important;
    }
}

/*-----small_slider_and_card_product-------*/

@media (min-width: 1280px) {
 .container{
    z-index: 5 !important;
}

.row{
 z-index: 5 !important;
}
#content{
    z-index: 5 !important;
}
 .container:before{
    z-index: 5 !important;
}

.row:before{
 z-index: 5 !important;
}
#content:before{
    z-index: 5 !important;
}
    .buy-item{
        padding-top: 0px !important;
    }
    .buy-header{
        margin-top: 100px;
        margin-bottom: 30px !important;
        color:rgb(12,118,187) !important;
        border-left: 2px solid rgb(255,0,36);
        padding-left:20px;
    }
    .cart_product{
        width: 300px;
        height:430px;
        border:1px solid rgb(235,235,235);
    }
    .cart_product_img{

    }
    .cart_product_img img{
        max-width:267px;
        max-height:266px;
        margin: 15px 0 15px 15px;
    }
    .cart_product_price{
        margin: 0 0 0 15px;
    }
    .cart_product_price_pay{
        font-size: 18px;
        font-weight: bold;
        color: black;
        font-family: "Arial";
    }
    .cart_product_price_discont{
        font-size: 14px;
        color: rgb(242,23,23);
        text-decoration:line-through;
        font-family: "Arial";
    }
    .cart_product_price_text{
        display: block;
        font-size: 16px;
        color: rgb(100,97,103);
    }
    .cart_product_price_button{
        width:265px;
        height: 40px;
        background-color:rgb(242,23,23);
        line-height: 40px;
        cursor: pointer;
    }
    .cart_product_price_button{
        margin: 30px 0 0 15px;
    }
    .cart_product_price_button img{
        max-width:30px;
        max-height: 30px;
        margin-left: 50px;
        margin-right: 30px;
    }
    .buy-header{
        color: @blue_header_top;
        font-size: 18px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
    }
    .slick-slide img{
        display: inline !important;
    }
    .cart_product_price_button span{
        font-size: 14px;
        font-weight: bold;
        color: rgb(253,252,252);
        text-transform: uppercase;
    }
    .slick-prev{
        line-height: 50% !important;
        top: 105% !important;
        left: 580px !important;
        z-index: 999 !important;
    }
    .slick-prev::before{
        position: absolute;
        top: 0px !important;
        left: 0px !important;
        color: rgb(81,98,111) !important;
        font-size: 30px !important;
        z-index: 999 !important;
    }

    .slick-next::before{
        position: absolute;
        top: 0px !important;
        right: 0px !important;
        color: rgb(81,98,111) !important;
        font-size: 30px !important;
    }
    .slick-next{
        line-height: 50% !important;
        top: 105% !important;
        right: 590px !important;
    }
}

@media (max-width: 1279px) {
    .buy-item{
        padding-top: 0px !important;
    }
    .buy-header{
        margin-top: 100px;
        margin-bottom: 30px !important;
        color:rgb(12,118,187) !important;
        border-left: 2px solid rgb(255,0,36);
        padding-left:20px;
    }
    .cart_product{
        width: 230px;
        height:355px;
        border:1px solid rgb(235,235,235);
    }
    .cart_product_img{

    }
    .cart_product_img img{
        max-width:205px;
        max-height:205px;
        margin: 10px 0 10px 10px;
    }
    .cart_product_price{
        margin: 0 0 0 10px;
    }
    .cart_product_price_pay{
        font-size: 18px;
        font-weight: bold;
        color: black;
        font-family: "Arial";
    }
    .cart_product_price_discont{
        font-size: 14px;
        color: rgb(242,23,23);
        text-decoration:line-through;
        font-family: "Arial";
    }
    .cart_product_price_text{
        display: block;
        font-size: 16px;
        color: rgb(100,97,103);
    }
    .cart_product_price_button{
        width:205px;
        height: 40px;
        background-color:rgb(242,23,23);
        line-height: 40px;
        cursor: pointer;
    }
    .cart_product_price_button{
        margin: 30px 0 0 10px;
    }
    .cart_product_price_button img{
        max-width:30px;
        max-height: 30px;
        margin-left: 30px;
        margin-right: 10px;
    }
    .buy-header{
        color: @blue_header_top;
        font-size: 18px !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        margin-bottom: 35px !important;
    }
    .slick-slide img{
        display: inline !important;
    }
    .cart_product_price_button span{
        font-size: 14px;
        font-weight: bold;
        color: rgb(253,252,252);
        text-transform: uppercase;
    }
    .slick-prev::before{
        position: absolute;
        top: 210px;
        left: 365px;
        color: rgb(81,98,111) !important;
        font-size: 30px !important;
    }
    .slick-next::before{
        position: absolute;
        top: 210px;
        right: 375px;
        color: rgb(81,98,111) !important;
        font-size: 30px !important;
    }

}

/*-----END_small_slider_and_card_product-------*/

/*-----text_index-------*/
.containet_index{
    padding-top: 150px;
    padding-bottom: 70px;
}

.index_text_top{
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-bottom: 3px solid rgb(56,93,174);
}

.index_text_main{
    margin-top: 40px;
    font-size: 14px;
    color:rgb(51,51,51);
}
/*-----END_text_index-------*/

/*----footer-----*/

@media (min-width: 1280px) {

footer{
    height: 215px;
    //background-color: white;
    background-image:url('../image/backgraund_footer.png');
    margin-top: 0px;
    padding-top: 0px;
}

.container_footer {
    width: 1280px;
    margin:0 auto;
    height: 100%;

}

.footer_top{
    height: 214px;
    background-image:url('../image/backgraund_footer.png');
}

.footer_c_net{
    height: 184px;
    margin: 30px 0 0 60px;
}
.footer_c_net span{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.footer_c_net_img{
    margin-top: 15px;
}

.footer_c_net_img img{
    margin: 0 8px 0 0;
}

.footer_tel{
    height: 184px;
    margin: 30px 0 0 60px;
}

.footer_tel_text{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer_tel_tel{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_tel_we_recall{
    color: rgb(161,176,211);
    font-size: 14px;
    font-weight: bold;
    text-decoration:underline;
}

.footer_news{
    height: 184px;
    margin: 30px 0 0 60px;
}

.footer_news_text{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.footer_news_pole{
    float: left;
    width: 250px;
    height:50;
    border: 2px solid rgb(188,190,194);
    //border-right: 2px solid rgb(188,190,194);
}
.footer_news_pole input{
    border: 0px;
    width: 250px;
    height:35px !important;
    background-image:url('../image/backgraund_footer.png');
    border-right: 2px solid rgb(188,190,194);
}

.footer_news_butten{
    float: left;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(142,169,232);
    line-height: 40px;
    text-align: center;
}

.footer_news_butten p{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.footer_news_sec{
    clear: both;
    color: rgb(188,190,194);
    font-size: 14px;
    text-decoration: underline;

}

.footer_news_sec p{
    padding-top: 10px;
}

.footer_geeker_logo{
    margin-right: 15px;
    margin-top: 30px;
    float: right;
}

.footer_geeker_logo span{
    display: inline;
    width: 200px;
    color: rgb(188,190,194);
    font-size: 12px;
    text-decoration: none !important;
}


.footer_bottom{

}

.footer_bottom_text{
    text-align: center;
    margin-top: 10px;
}

.footer_bottom_text_ul li{
    display:inline;
    padding: 0 10px 0 10px;
    border-right: 1px solid rgb(152,152,152);
    color: rgb(152,152,152);
    font-size: 14px;
}

.footer_bottom_log{
    text-align: center;
}
.footer_bottom_log p{
    color: rgb(152,152,152);
    font-size: 14px;
}

}

@media (max-width: 1279px) {

footer{
    height: 283px;
    //background-color: white;
    background-image:url('../image/backgraund_footer.png');
    background-size:250%;
    margin-top: 0px;
    padding-top: 0px;
}

.container_footer {
    width: 768px;
    margin:0 auto;
    height: 100%;

}

.footer_top{
    height: 282px;
    background-image:url('../image/backgraund_footer.png');
    background-size:250%;
   // background-repeat: no-repeat;
    background-position: center;
}

.footer_c_net{
    height: 130px;
    margin: 30px 0 0 0px;
    padding: 0 0 0 20px;
}
.footer_c_net span{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.footer_c_net_img{
    margin-top: 15px;
}

.footer_c_net_img img{
    margin: 0 15px 0 0;
}

.footer_tel{
    height: 130px;
    margin: 30px 0 0 0px;
    padding-left: 130px;
}

.footer_tel_text{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer_tel_tel{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_tel_we_recall{
    color: rgb(161,176,211);
    font-size: 14px;
    font-weight: bold;
    text-decoration:underline;
}

.footer_news{
    height: 122px;
    margin: 0 0 0 0;
    padding-left: 20px;
}

.footer_news_text{
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.footer_news_pole{
    float: left;
    width: 250px;
    height:50;
    border: 2px solid rgb(188,190,194);
    //border-right: 2px solid rgb(188,190,194);
}
.footer_news_pole input{
    border: 0px;
    width: 250px;
    height:35px !important;
    background-image:url('../image/backgraund_footer.png');
    border-right: 2px solid rgb(188,190,194);
}

.footer_news_butten{
    float: left;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    background-color: rgb(142,169,232);
    line-height: 40px;
    text-align: center;
}

.footer_news_butten p{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.footer_news_sec{
    clear: both;
    color: rgb(188,190,194);
    font-size: 14px;
    text-decoration: underline;

}

.footer_news_sec p{
    padding-top: 10px;
}

.footer_geeker_logo{
    display: none;
}

.footer_geeker_logo span{
    display: inline !important;
    width: 200px !important;
    text-decoration: none !important;
}

.footer_bottom{

}

.footer_bottom_text{
    text-align: center;
    margin-top: 10px;
}

.footer_bottom_text_ul li{
    display:inline;
    padding: 0 10px 0 10px;
    border-right: 1px solid rgb(152,152,152);
    color: rgb(152,152,152);
    font-size: 14px;
}

.footer_bottom_log{
    text-align: center;
}
.footer_bottom_log p{
    color: rgb(152,152,152);
    font-size: 14px;
}

}

/*----END_footer-----*/


