* {
  font-family: 'Tahoma';
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none !important;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
}
@media (min-width: 1280px) {
  header {
    height: 185px;
  }
  .container_header {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    background-image: url('../image/backgraund_header.png');
  }
  .header_top {
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #8ea9e8;
    margin: 0 26px 0 26px;
    line-height: 40px;
    margin-bottom: 0px;
  }
  .header_top_text {
    text-align: right;
  }
  .header_top_text li {
    display: inline;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
  }
  .header_top_text_servic {
    padding-right: 40px;
    border-right: 2px solid white;
  }
  .header_top_text_enter {
    margin-left: 40px;
  }
  .header_top_text_reg {
    margin-right: 20px;
  }
  .header_center {
    height: 100px;
    line-height: 100px;
  }
  .header_logo {
    padding-left: 50px;
  }
  #search {
    width: 260px;
    float: right;
  }
  .header_search_input {
    margin-top: 40px;
    height: 30px !important;
    background-color: #c3c3c5;
    border-radius: 15px;
    border-bottom-right-radius: 15px !important;
    border-top-right-radius: 15px !important;
  }
  .header_search_button {
    bottom: 6px;
    right: 25px;
    width: 0px !important;
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .header_tel {
    line-height: 100px;
    max-height: 100px;
    bottom: 7px;
    padding-left: 8px;
  }
  .header_tel_text_number {
    display: block;
    max-height: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #001e96;
    margin-left: 0px;
  }
  .header_tel_text_we {
    font-family: "Tahoma";
    font-size: 14px;
    font-weight: bold;
    color: #f21717;
    margin-left: 0px;
    text-decoration: underline;
  }
  .header_pay {
    padding-left: 50px;
  }
  .header_pay p {
    font-size: 10px;
    font-weight: bold;
    color: #888888;
    text-transform: uppercase;
  }
  .header_pay img {
    position: absolute;
    top: 25;
    right: 48px;
    bottom: 37px;
    left: 114px;
  }
  .header_bottom {
    padding-left: 50px;
  }
  .hrader_menu_big {
    display: inline;
  }
  .hrader_menu_small {
    display: none;
  }
  .hrader_menu_big li {
    display: inline;
    font-size: 16px;
    color: #717171;
  }
  .hrader_menu_big span {
    display: inline;
    font-size: 16px;
    color: #717171;
  }
  .hrader_menu_big span:hover {
    color: #a1b0d3;
  }
  .hrader_menu_start {
    padding-right: 46px;
    border-right: 2px solid #a1b0d3;
  }
  .hrader_menu_center {
    padding: 0 46px 0 46px;
    border-right: 2px solid #a1b0d3;
  }
  .hrader_menu_fin {
    padding-left: 40px;
  }
}
@media (max-width: 1279px) {
  header {
    height: 185px;
  }
  .container_header {
    width: 768px;
    margin: 0 auto;
    height: 100%;
    background-image: url('../image/backgraund_header.png');
  }
  .header_top {
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #8ea9e8;
    margin: 0 26px 0 26px;
    line-height: 40px;
    margin-bottom: 0px;
  }
  .header_top_text {
    text-align: right;
  }
  .header_top_text li {
    display: inline;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
  }
  .header_top_text_servic {
    padding-right: 40px;
    border-right: 2px solid white;
  }
  .header_top_text_enter {
    margin-left: 40px;
  }
  .header_top_text_reg {
    margin-right: 20px;
  }
  .header_center {
    height: 80px;
    line-height: 100px;
  }
  .header_logo {
    padding-left: 30px;
    padding-right: 0px;
  }
  #search {
    width: 120px;
    float: left;
  }
  .header_search {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header_search_input {
    margin-top: 40px;
    height: 30px !important;
    background-color: #c3c3c5;
    border-radius: 15px;
    border-bottom-right-radius: 15px !important;
    border-top-right-radius: 15px !important;
  }
  .header_search_button {
    bottom: 6px;
    right: 25px;
    width: 0px !important;
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .header_tel {
    line-height: 100px;
    max-height: 100px;
    bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .header_tel_text_number {
    display: block;
    max-height: 25px;
    font-size: 11px;
    font-weight: bold;
    color: #001e96;
    margin-left: 5px;
  }
  .header_tel_text_we {
    font-family: "Tahoma";
    font-size: 12px;
    font-weight: bold;
    color: #f21717;
    margin-left: 5px;
    text-decoration: underline;
  }
  .header_pay {
    padding-left: 30px;
  }
  .header_pay p {
    font-size: 10px;
    font-weight: bold;
    color: #888888;
    text-transform: uppercase;
  }
  .header_pay img {
    position: absolute;
    top: 25;
    right: 48px;
    bottom: 37px;
    left: 95px;
  }
  .header_bottom {
    padding-left: 50px;
  }
  .hrader_menu_big {
    display: none;
  }
  .hrader_menu_small {
    display: block;
    height: 70px;
  }
  .hrader_menu_small img {
    float: right;
    margin-right: 32px;
    position: relative;
    bottom: 25px;
    z-index: 10;
  }
  .open_header_menu_small {
    display: none;
    position: relative;
    width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: #6fa1ce;
    z-index: 9;
  }
  .open_header_menu_small_ul {
    margin-left: 35px;
    padding-bottom: 30px;
    list-style-type: none;
  }
  .open_header_menu_small_ul li {
    color: white;
  }
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
